.input{
    width: 390px;
    height: 40px;
    margin-left: 160px;
    background-color: rgba(172, 200, 214, 0.603);
    border-color: rgb(49, 22, 97);
}

.input:focus{
    background-color: beige;
}

 .text {
     color: antiquewhite;
     margin-top: 40px;
     font-weight: 200;
     font-size: 30px;
     text-align: center;
 }